.cardWrapper {
  width: 400px;
  background-color: rgb(4, 158, 4);
  padding: 2rem;
}

.cardHeader {
  margin-bottom: 1.5rem;
}
.cardMain {
  display: flex;
  gap: 2rem;
}
.cardWrapper img {
  max-width: 40%;
  border: 2px solid rgb(255,255,0);
  border-radius: 6px;
}
