.navBar {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px;
  background-color: rgb(235, 233, 233);
}

.navBar a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: rgb(3, 196, 3);
}

.navBar a.navLinkActive {
  color: rgb(1, 88, 1);
}
